# Coverage.py is a tool for measuring code coverage of Python programs.
# for more info: https://coverage.readthedocs.io/en/latest/config.html
[run]
omit =
    troposphere_mate/canned/iam/const_aws_managed_policy_arn.py
    troposphere_mate/canned/iam/const_aws_service_name.py
    troposphere_mate/_version.py
    troposphere_mate/cli.py
    troposphere_mate/pkg/*
    troposphere_mate/docs/*
    troposphere_mate/tests/*
    troposphere_mate/handlers/*
    troposphere_mate/code_generator/__init__.py
    troposphere_mate/core/sentiel.py
    troposphere_mate/core/orch.py
    troposphere_mate/core/orchestration.py
    troposphere_mate/canned/dev/*
    troposphere_mate/orch_example//*

    troposphere_mate/serverless.py
    troposphere_mate/cloudtrail.py
    troposphere_mate/redshift.py
    troposphere_mate/dynamodb2.py
    troposphere_mate/elasticsearch.py
    troposphere_mate/rds.py
    troposphere_mate/secretsmanager.py
    troposphere_mate/backup.py
    troposphere_mate/elasticache.py
    troposphere_mate/iot1click.py
    troposphere_mate/dms.py
    troposphere_mate/config.py
    troposphere_mate/ses.py
    troposphere_mate/emr.py
    troposphere_mate/dynamodb.py
    troposphere_mate/codecommit.py
    troposphere_mate/cognito.py
    troposphere_mate/certificatemanager.py
    troposphere_mate/waf.py
    troposphere_mate/guardduty.py
    troposphere_mate/appstream.py
    troposphere_mate/iam.py
    troposphere_mate/amplify.py
    troposphere_mate/sqs.py
    troposphere_mate/eks.py
    troposphere_mate/servicediscovery.py
    troposphere_mate/mediastore.py
    troposphere_mate/applicationautoscaling.py
    troposphere_mate/docdb.py
    troposphere_mate/servicecatalog.py
    troposphere_mate/events.py
    troposphere_mate/ask.py
    troposphere_mate/robomaker.py
    troposphere_mate/cloudformation.py
    troposphere_mate/validators.py
    troposphere_mate/wafregional.py
    troposphere_mate/batch.py
    troposphere_mate/stepfunctions.py
    troposphere_mate/msk.py
    troposphere_mate/constants.py
    troposphere_mate/apigatewayv2.py
    troposphere_mate/fsx.py
    troposphere_mate/amazonmq.py
    troposphere_mate/kinesis.py
    troposphere_mate/kinesisanalyticsv2.py
    troposphere_mate/inspector.py
    troposphere_mate/apigateway.py
    troposphere_mate/iotanalytics.py
    troposphere_mate/pinpointemail.py
    troposphere_mate/codebuild.py
    troposphere_mate/opsworks.py
    troposphere_mate/codedeploy.py
    troposphere_mate/glue.py
    troposphere_mate/greengrass.py
    troposphere_mate/transfer.py
    troposphere_mate/sdb.py
    troposphere_mate/appsync.py
    troposphere_mate/datapipeline.py
    troposphere_mate/elasticloadbalancing.py
    troposphere_mate/utils.py
    troposphere_mate/logs.py
    troposphere_mate/dax.py
    troposphere_mate/elasticloadbalancingv2.py
    troposphere_mate/sagemaker.py
    troposphere_mate/cloudwatch.py
    troposphere_mate/route53.py
    troposphere_mate/ec2.py
    troposphere_mate/elasticbeanstalk.py
    troposphere_mate/cloudfront.py
    troposphere_mate/firehose.py
    troposphere_mate/budgets.py
    troposphere_mate/efs.py
    troposphere_mate/analytics.py
    troposphere_mate/ecr.py
    troposphere_mate/kms.py
    troposphere_mate/athena.py
    troposphere_mate/codepipeline.py
    troposphere_mate/s3.py
    troposphere_mate/awslambda.py
    troposphere_mate/cloud9.py
    troposphere_mate/autoscalingplans.py
    troposphere_mate/dlm.py
    troposphere_mate/autoscaling.py
    troposphere_mate/policies.py
    troposphere_mate/appmesh.py
    troposphere_mate/iot.py
    troposphere_mate/ram.py
    troposphere_mate/ssm.py
    troposphere_mate/neptune.py
    troposphere_mate/ecs.py
    troposphere_mate/sns.py
    troposphere_mate/directoryservice.py
    troposphere_mate/template_generator.py
    troposphere_mate/workspaces.py


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
